html, body, div, span,h1, h2,p,article, footer, header,section,img
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Cairo', sans-serif;
}
article, footer, header,section,img {display: block;}
.container{
	display: flex;
	flex-direction: row-reverse;
	height: 100vh;
}
body, html{
 	box-sizing: border-box;
  	height: 100%;
}
header{
	height: 100%;
	flex-grow: 2;
	display: flex;
	justify-content: center;
	background-color: #c2341c;
	width: 20%;
	position: relative;
}
header img{
	width: 60%;
	position: absolute;
	top: 20%;
}
header h1{
	display: none;
}
header .links{
	position: absolute;
	bottom: 7%;
	display: inline-flex;
}
header a{
	text-decoration: none;
	text-align: center;
	margin-right: 10px;
	font-size: 2em;
}
header i{
	color: #fff;
	margin-bottom: 30px;
	padding-left: 3%;
}
section{
	flex-grow: 3;
	background-image: url(../images/background.jpg);
	padding-top: 50px
}
section img{
	display: none;
}
section h1{
	font-size: 3em;
	padding-bottom: 10px;
	padding-left: 30px;
	font-weight: bolder;
}
article{
	border-left: 2px solid #000;
	margin-left: 30px;
	padding-left: 20px;
}
article h2,article h3{
	color: #c2341c;
	font-size: 1.5em;
}
article p{
	line-height: 25px;
	font-size: 1em
}
article span{
	text-transform: uppercase;
	color: #c2341c;
}
@media only screen and (max-width:1000px){
	    
	header{
		 flex-grow: 4;
		 width: 30%;
	}
	header img{
		width: 250px;
		height: 250px;
	}
	header .links{
		margin-bottom: 60px;
	}
	header a{
		font-size: 1em;
	}
	section{
		flex-grow: 1;
	}
	section img{
		display:none;
	}
}

@media only screen and (max-width:850px){
	.container{
		flex-direction: column-reverse;
		padding-top: 30px;
		padding-bottom: 10px;
		background-image: url(../images/background.jpg);
		height: auto;
	}
	header{
		width: 100%;
		background-color: #c2341c;
		position: relative;
		bottom: 0;
	}
	header img{
		display: none;
	}
	header .links{
		background-color: #c2341c;
	    margin: 0;
	    width: 100%;
	    position: absolute;
	    bottom: -70px;
	    display: flex;
	    justify-content: space-evenly;
	    padding-top: 10px;
	}
	header .links a{
    	padding: 0px;
	}
	header .links a i{
		font-size: 20px;
	}
	section h1{
		font-size: 2em;
		background-image: none;
	}
	section img{
		display: block;
		text-align: center;
		width: 25%;
		margin-right: auto;
		background-color: #c2341c;
		margin-left: 30px;
	}
	article p{
	line-height: 20px;
	font-size: 15px;
	}

}