@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

.center {
    margin-left: auto;
    margin-right: auto;
}

.th {
    margin-top: 4rem;
    margin-bottom: 4rem;
    line-height: 1.3;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #a52a2a;
}

#days {
    /* font-family: 'Covered By Your Grace', cursive; */
    font-size: 7em;
}
#hours {
    /* font-family: 'Covered By Your Grace', cursive; */
    font-size: 6em;
}
#minutes {
    /* font-family: 'Covered By Your Grace', cursive; */
    font-size: 5em;
}
#seconds {
    /* font-family: 'Covered By Your Grace', cursive; */
    font-size: 4em;
}

div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
}

.count {
  display: block;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 2rem;
  color: white; 
}


body {
    font-family: sans-serif;
    color: #a52a2a;
    text-align: center;
}