.center {
    margin-left: auto;
    margin-right: auto;
}

.th {
    margin-top: 4rem;
    margin-bottom: 4rem;
    line-height: 1.3;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #a52a2a;
}

#days {
    border-radius: 1rem;
    border-style: solid;
    border-color: #a52a2a;
    font-size: 7em;
}
#hours {
    border-radius: 1rem;
    border-style: solid;
    border-color: #a52a2a;
    font-size: 7em;
}
#minutes {
    border-style: solid;
    border-radius: 1rem;
    border-color: #a52a2a;
    font-size: 7em;
}
#seconds {
    border-style: solid;
    border-radius: 1rem;
    border-color: #a52a2a;
    /* border-color: #a52a2a; */
    font-size: 7em;
}

div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
}

.count {
  display: block;
  font-size: 1rem;
  color: white;
}


body {
    font-family: sans-serif;
    color: #a52a2a;
    text-align: center;
}


.social {
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    display: block;
}

.social a {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 3px;
}

.social a.facebook { background: url(images/social-icons/facebook.png); }
.social a.twitter { background: url(images/social-icons/twitter.png); }
.social a.dribbble { background: url(images/social-icons/dribbble.png); }
.social a.googleplus { background: url(images/social-icons/googleplus.png); }
.social a.pinterest { background: url(images/social-icons/pinterest.png); }
.social a.flickr { background: url(images/social-icons/flickr.png); }
